.headerWrap {
  height: 50vw;
  position: relative;
 z-index: 100;
  .nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    //border: 2px solid yellow;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;

    .rightDiv {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 60%;
      justify-content: space-between;
      
      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        justify-content: space-around;
        width: 100%;
        // border: 2px solid yellow;
        li {
          background-color: $primary-colour;
          a {
            font-size: 1.7rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0px;
            text-align: center;
            color: #ffffff;
          }
        }
      }
      button {
        border: none;
        background-color: transparent;
      }
    }
  }
  .bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    //  border: 2px solid yellow;
    margin:5vw 0 0 20vw;
    
    h1{
      margin-top: 5vw;
        text-shadow: 7px 7px 0 #e51a6d;
        // font-family: Rubik;
        font-size: 6vw;
        font-weight: 800;
        font-stretch: normal;
        font-style: italic;
        line-height: 1.1;
        letter-spacing: 0.02px;
        color: #e9e929;
        width: 50%;
        text-transform: uppercase;
    }
    
    .headerPic{
      width: 20%;
      position: relative;
      z-index: -1;
      
    }
   
  }
}
