.headerWrap {
  min-height: 50vw;
  position: relative;
  z-index: 100;
  padding-bottom: 5%;
  font-family: Rubik;
  @media screen and (max-width: $tablet) {
    min-height: 60vw;
    padding-bottom: 0;
  }
  @media screen and (max-width: $mobile) {
    min-height: 70vw;
    padding-bottom: 0;
  }

  @media screen and (max-width: 500px) {
    min-height: 85vw;
    padding-bottom: 0;
  }

  .nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    //border: 2px solid yellow;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    @media screen and (max-width: $tablet) {
      background-color: $primary-colour;
      padding: 0 0 0 0;
    }

    @media screen and (max-width: $mobile) {
      flex-direction: column;

    }

    .rightDiv {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 60%;
      justify-content: space-between;
      @media screen and (max-width: $tablet) {
        width: 100%;
      }
      @media screen and (max-width: $mobile) {
        flex-direction: column;
         display: none;
      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        justify-content: space-around;
        width: 100%;
        // border: 2px solid yellow;
        @media screen and (max-width: $mobile) {
          margin: 0;
          padding: 0;
        }
        li {
          background-color: $primary-colour;
          padding: 5px 10px;
          @media screen and (max-width: $tablet) {
            padding: 0;
          }

          a {
            font-size: 1.7rem;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0px;
            text-align: center;
            color: #ffffff;
            @media screen and (max-width: $tablet) {
              font-size: 1.5rem;
            }
            @media screen and (max-width: 500px) {
              font-size: 1rem;
            }
          }
        }
      }
      button {
        border: none;
        background-color: transparent;
        .imgDiv{
          @media screen and (max-width: $mobile) {
           width: 60px;
          }
          img{
            width: 100%;
          }
        }
      }
    }
    .is-inactive {
      display: inline-flex;
    }
  }
  .bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    //  border: 2px solid yellow;
    margin: 5vw 0 0 20vw;
    @media screen and (max-width: $tablet) {
      width: 60%;
      margin: 5vw 0 0 5vw;
    }

    

    h1 {
      margin-top: 5vw;
      text-shadow: 7px 7px 0 #e51a6d;
      // font-family: Rubik;
      font-size: 6vw;
      //font-size: max(6vw, 70px);
      font-weight: 800;
      font-stretch: normal;
      font-style: italic;
      line-height: 1.1;
      letter-spacing: 0.02px;
      color: #e9e929;
      width: 50%;
      text-transform: uppercase;
      @media screen and (max-width: $tablet) {
        width: 90%;
        font-size: 8vw;
      }
      @media screen and (max-width: $mobile) {
        text-shadow: 5px 5px 0 #e51a6d;
      }

      @media screen and (max-width: 500px) {
        text-shadow: 3px 3px 0 #e51a6d;
        margin-top: 10vw;
      }
    }

    .headerPic {
      width: 23%;
      position: relative;
      z-index: -1;
      @media screen and (max-width: $tablet) {
        display: none;
      }
    }
  }

  .leftDiv{
    @media screen and (max-width: $mobile) {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    .imgWrap{
      width: 112px;
     @media screen and (max-width: $mobile) {
        width:80px;
     }
      img{
        width: 100%;
      }
    }

  .burgerMenu{
    display: none;
    cursor: pointer;
    @media screen and (max-width:$mobile ) {
      display: inline; 
    }
    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: white;
      margin: 6px 0;
      transition: 0.4s;
    }
    
  }
  .change{
    .bar1 {
     -webkit-transform: rotate(-45deg) translate(-9px, 6px);
     transform: rotate(-45deg) translate(-9px, 6px);
   }
   
   .bar2 {opacity: 0;}
   
   .bar3 {
     -webkit-transform: rotate(45deg) translate(-8px, -8px);
     transform: rotate(45deg) translate(-8px, -8px);
   }
 }
}
}
