.story {
  background-color: $primary-colour;
  position: relative;
  z-index: 1;
  padding-bottom: 4rem;
  .headLine{
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
   // position: absolute;
    background-color: $secondary-colour;
    // width: 100%;
    display: inline-block;
    .marquee{
    width: 100%;
    display:block;
    position:relative;
    animation:10s linear 0s infinite normal none running marquee;
     font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #e51a6d;
    overflow: hidden;
    white-space: nowrap;
    padding: 40px 0;
    }
  }

  .div1{
    padding: 7rem 10% 0 10%;
    justify-content: space-between;
    // display: inline-block;
    width: 100%;
    //  border: 1px solid yellow;
    .pic1{
  width:50%;
    }

    .text{
        margin-top:5%;
        width:25%;
        width: 370px;
        font-size: 2.2rem;
        font-weight: lighter;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: 0px;
        text-align: right;
        color: #ffffff;
    
    }
  }

  .div2{
    padding: 0 8% 0 10%;
    width: 100%;
    justify-content: space-between;
    .chickenWrap {
     position: relative;
     width: 100px;
     img{
       position: absolute;
       top: 50%;
     }
    }
    .pic2{
      width: 30%;
      margin: -5% 0 0 -20%;
    }
  }

  .div3{
      //width: 50%;
      padding:0 10% 0 45%;
      text-shadow: 7px 7px 0 $primary-colour;
      font-size: 6vw;
      font-weight: 800;
      font-stretch: normal;
      font-style: italic;
      line-height: 1.12;
      letter-spacing: 0.02px;
      color: $secondary-colour; 
      margin-top: -10%;
      position: relative;
      text-transform: uppercase;
  }

  .div4{
    padding: 0 20% 0 10%;
    justify-content: space-between;
    .text {
      margin: -5% 0 0 0;
      width: 25%;
      min-width:  280px;;
      font-size: 2.2rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: 0px;
      color: #ffffff;
      // transition: width 1s ease;
    }
    .pic4{
      width: 55%;
      margin: 5% 0 0 0;
      z-index: 10;

    }
  }

  .div5{
    padding: 0 25% 0 10%;
    .text {
      text-shadow: 7px 7px 0 $primary-colour;
      font-size: 6vw;
      font-weight: 800;
      font-stretch: normal;
      font-style: italic;
      line-height: 1.12;
      letter-spacing: 0.02px;
      color: $secondary-colour; 
      position: relative;
      z-index: 10;
      margin-right: -15%;
      width: 70%;
    }

    .pic5{
      width: 60%;
      margin: -10% 0 0 -5%;
    }

    .shrimpWrap {
      position: relative;
      width: 100px;
      img{
        position: absolute;
        top: 50%;
        left: 90%;
      }
     }


  }
}
@keyframes marquee{
    0% {transform: translate(0);}
    100% {transform: translate(-50%);}
    }